<%- include('../partials/head'); -%>

<div class="container admin-panel">
	<h1 class="square-title text-center">Panel Admin</h1>
	<div class="row justify-content-center">
		<a class="admin-section-block col-lg-3" href="/Admin/Events">Événements</a>
		<a class="admin-section-block col-lg-3" href="/Admin/Videos">Vidéos</a>
		<a class="admin-section-block col-lg-3" href="/Admin/Settings">Paramètres</a>
	</div>
</div>

<%- include('../partials/footer'); -%>
